<div class="m-4" *ngIf="assets">
  <!-- <table class="table">
        <thead>
            <th>S.no</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Asset ID</th>
            <th>Serial No.</th>
            <th>Invoice</th>
            <th>Price</th>
            <th>Product</th>
            <th>Current Position</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assets; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ asset.category }}</td>
              <td>{{ asset.sub_category }}</td>
              <td>{{ asset.asset_id }}</td>
              <td>{{ asset.serial_no }}</td>
              <td>{{ asset.invoice_details }}</td>
              <td>{{ asset.price }}</td>
              <td>{{ asset.product_name }}</td>
              <td *ngIf="asset.user_name; else inStock">{{ asset.user_name + " " + asset.section_name }}</td>
              <ng-template #inStock>
                  <td>In Stock</td>
              </ng-template>
              <td>{{ asset.last_updated }}</td>
              <td>
                <button title="Asset history" class="btn" (click)="open('asset-history', asset.id)"><i class="fas fa-history"></i></button>
                <button title="Repair history" class="btn" (click)="open('repair-history', asset.id)"><i class="fas fa-file-medical"></i></button>
              </td>
            </tr>
        </tbody>
    </table> -->
  <a-table [cols]="columns" [data]="assets" [pageSize]="10" [actions]="true" class="md-10">
    <ng-template [template-header]="'header'" let-columns>
    </ng-template>

    <ng-template [template-header]="'body'" let-rowData>
      <td *ngFor="let col of rowData.columns">
        {{ rowData.data[col.fieldName] }}
      </td>
    </ng-template>
    <ng-template [header]="'actions'" let-item>
      <td>
        <button title="Asset history" class="btn" (click)="open('asset-history', item.id)"><i class="fas fa-history"></i></button>
        <button title="Repair history" class="btn" (click)="open('repair-history', item.id)"><i class="fas fa-file-medical"></i></button>
      </td>
    </ng-template>
  </a-table>
</div>

<app-modal *ngIf="showModal" (closed)="showModal=false">
  <router-outlet></router-outlet>
</app-modal>