<div class="container">
  <h4>Consumable Request</h4>

  <div class="content">
    <form (ngSubmit)="createRequest(form.value)" #form="ngForm">
      <div class="form-group">
          <label for="user_id">User</label>
          <select name="user_id" class="form-control" (change)="filterConsumables()" ngModel>
              <option *ngFor='let user of users' value='{{ user.id }}'>{{ user.name }}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="asset_id">Asset</label>
          <select name="asset_id" class="form-control" #assetIndex (change)="assetConsumables(assetIndex.value)">
              <option selected disabled>Select a Option</option>
              <option *ngFor="let asset of assets; index as i" value="{{ i }}">{{ asset.brand_name +  '  '  + asset.products.model + '  ' + asset.asset_id }}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="sub_category_id">Consumable</label>
          <select name="sub_category_id" class="form-control" ngModel>
              <option *ngFor="let consumable of consumables" value="{{ consumable.id }}">{{ consumable.name }}</option>
          </select>
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
