<div class="content">
    <p class="lead">Consumables requests</p>
    <table class="table table-striped">
        <thead>
            <th>S.no</th>
            <th>Section Name</th>
            <th>User Name</th>
            <th>Action/Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>D&RAC</td>
                <td>Raman</td>
                <td>88A</td>
                <td>M202dw DGADS/PRT/2/2019</td>
                <td><button class="btn btn-default">History</button></td>
                <td><button class="btn btn-secondary">Issue</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Admin</td>
                <td>Test</td>
                <td>88A</td>
                <td>M202dw DGADS/PRT/5/2019</td>
                <td><button class="btn btn-default">History</button></td>
                <td><button class="btn btn-secondary">Issue</button></td>
            </tr>
        </tbody>
    </table>
</div>