<div class="container m-2" *ngIf='consumable_requests'>
  <h4>Consumable Requests</h4>
  <table class="table table-striped">
    <thead>
      <th>Sl.No</th>
      <th>Requested Con.</th>
      <th>Requested By</th>
      <th>Section</th>
      <th>Asset</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let request of consumable_requests; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ request.sub_category }}</td>
        <td>{{ request.requesting_user_name }}</td>
        <td>{{ request.section_name }}</td>
        <td>{{ request.asset_name }}</td>
        <td>
          <button class="btn" type="button" (click)='openDialog(request.sub_category_id, request.id)'><i class="fas fa-pencil-alt"></i></button>
          <button class="btn" type="button"><i class="fas fa-times"></i></button>
          <button class="btn" type="button"><i class="fas fa-exchange-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="content dialog" *ngIf="displayDialog" (click)="closeDialog()">
  <div class="container dialog-content" *ngIf="available_consumables.length > 0; else noItems" ClickStopPropagation>
    <table class="table table-striped">
      <thead>
        <th>Sl.no</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Invoice Detail</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let consumable of available_consumables; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ consumable.name + " " + consumable.model }}</td>
          <td>{{ consumable.balance }}</td>
          <td>{{ consumable.invoice_date + " " + consumable.invoice_number }}</td>
          <td><button class="btn" type="button" (click)="approveRequest(consumable.id)"><i class="fas fa-pencil-alt"></i></button></td>
        </tr>
      </tbody>
    </table>

  </div>
  <ng-template #noItems>
    <div class="dialog-content">
      <div class="text-center">
        <h4 class="p-5">No Assets Available</h4>
      </div>
    </div>
  </ng-template>
</div>
